@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap");
::selection {
    background: #6db329;
}
html {
    scroll-behavior: smooth;
    overflow-y: scroll !important;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}
body {
    font-family: "Poppins", sans-serif;
}
img {
    width: 100%;
}
header {
    background: #ffffff00;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 9%;
    position: fixed;
    width: 100%;
    z-index: 9;
    transition: 0.6s;
    border-bottom: none;
    justify-content: center;
}
header.sticky {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 9%;
    background: #1e2022;
    position: fixed;
    width: 100%;
    z-index: 9;
    border-bottom: 1px solid #6db329;
    justify-content: center;
}
header.sticky nav ul li a:hover {
    display: block;
    color: #6db329;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
}
header .header-left {
    display: flex;
    align-items: center;
}
header .header-left .logo {
    width: 140px;
}
header .header-left nav {
    margin-left: 50px;
}
header .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
}
nav ul li a:hover,
nav ul li a.active {
    color: #6db329;
}
#bckimage {
    background-image: url("../img/new_fond.jpeg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
#cover {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}
.lsm {
    height: 40px;
}
.nsm {
    display: flex;
}
header .header-right {
    display: flex;
    align-items: center;
}
header .login-signup {
    color: #cfd9e0;
    font-weight: bold;
}
header .login-signup a {
    display: inline-block;
    color: #1e2022;
    background: #4ad295;
    padding: 5px 12px;
    border-radius: 5px;
}
header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}
#azienda {
    background-color: #1e2022;
    display: block;
    max-height: 223vh;
    text-align: center;
}
.sectitle, h1 {
    font-family: "Poppins";
    color: white;
    text-align: center;
    font-size: 27px;
    font-weight: 100;
    padding-top: 60px;
}


#logo_brand {
    width: 26%;
    pointer-events: none;
}

.sepbar {
    width: 43%;
    height: 5px;
    background-color: #6db329;
    margin-top: 4px;
    margin: auto;
}

.cstext {
    padding-left: 9%;
    padding-right: 9%;
}

.cstext img {
    height: auto;
    width: 820px;
    margin-top: 7%;
    margin-bottom: 9%;
}
.cstext p {
    font-family: "Poppins";
    font-size: 17px;
    color: white;
    text-align: center;
    margin-top: 1%;
}


.cstext h2 {
    font-family: "Poppins";
    font-size: 20px;
    color: white;
    text-align: center;
    margin-right: 9%;
    margin-left: 9%;
    margin-top: 3%;
}

.cstext ul {
    color: white;
    font-size: 17px;
}

.cstext li {
    list-style: inside;
    text-align: left;
}


#chisono {
    background-color: #1e2022;
    padding-left: 9%;
    padding-right: 9%;
    text-align-last: center;
    padding-top: 36%;
}

.sectitle h1 {
    font-size: 33px;
}



#chisono .sectitle {
    font-family: "Poppins";
    color: white;
    text-align: center;
    font-size: 27px;
    font-weight: 100;
    padding-top: 20px;
}

#chisono p {
    font-family: "Poppins";
    font-size: 17px;
    color: white;
    text-align: center;
    margin-top: 1%;
    text-align: justify;
}

#chisono img {
    height: auto;
    width: 820px;
    margin-top: 7%;
    margin-bottom: 9%;
}

#parallax1 {
    height: 60vh !important;
    background-image: url("../prl1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: auto;
    text-align: center;
}
#smp {
    height: 100%;
}
#smp ul {
    display: flex;
    place-content: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.smfw {
    height: 80px;
}
.smf {
    height: 95px;
}
.smf :first-child {
    height: 85px;
}

#secundo {
    padding-left: 9%;
    padding-right: 9%;
}
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#scroll-top-btn {
    position: fixed;
    right: 0;
    bottom: 36px;
    display: block;
    width: 40px;
    height: 40px;
    border: 0;
    background: #6db329;
    border-radius: 0%;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 9999999;
}
#scroll-top-btn.show {
    opacity: 1;
    visibility: visible;
}
#contatti {
    background-image: url("../img/background.png");
    height: 150vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.card {
    height: 89vh;
    background-color: #1e2022;
    margin-left: 9%;
    margin-right: 9%;
    border-radius: 11px;
    margin-top: 9%;
}
form {
    max-width: 420px;
    margin: 50px auto;
    padding-top: 3%;
}
.contact-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #6db329;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}
.contact-input:focus {
    border: 2px solid #6db329;
}
textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}
[type="submit"] {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    width: 100%;
    background: #6db329;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}
[type="submit"]:hover {
    background: #6db329;
}
footer {
    width: 100%;
    background-color: #1e2022;
}
#footertop {
    border-top: solid 1px #6db329;
    border-bottom: solid 1px #6db329;
    text-align: center;
}
#footertop .logo {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 140px;
}
#footerbottom {
    display: flex;
    padding-left: 5%;
    padding-bottom: 9%;
    place-content: space-between;
    padding-right: 5%;
}
.ltext {
    width: 360px;
}
.mtext {
    width: 360px;
}
.rtext {
    width: 360px;
}
.ltext h1 {
    font-size: 18px;
}
.mtext h1 {
    font-size: 18px;
}
.rtext h1 {
    font-size: 18px;
}
.ltext p {
    color: white;
    text-align: justify;
    margin-top: 25px;
}
#falbum {
    margin-top: 25px;
    text-align: center;
}
#falbum a img {
    height: 300px;
    width: 300px;
    filter: brightness(0.2);
    transition: 0.3s;
    object-fit: cover;
}
#falbum a img:hover {
    height: 300px;
    width: 300px;
    filter: none;
    transition: 0.3s;
}
.fsepbar {
    width: 50px;
    background-color: #6db329;
    height: 3px;
    margin: auto;
}
#fsm {
    margin-top: 24px;
    text-align: center;
}
#fsm ul {
    display: flex;
    justify-content: center;
}
.fs:nth-child(0) {
    height: 70px;
    width: 70px;
    margin-top: 5px;
    margin-right: 5px;
    object-fit: contain;
}
.fs {
    height: 80px;
    width: 80px;
    object-fit: cover;
}
@media only screen and (max-width: 1000px) {
    header {
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 9;
        border-bottom: 1px solid #6db329;
        padding: 39px;
        background: #00000033;
    }
    header.sticky {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #1e2022;
        position: fixed;
        width: 100%;
        z-index: 9;
        border-bottom: 1px solid #6db329;
    }
    header .header-left nav.active {
        top: 79px !important;
        z-index: 9;
        background: #00000033;
    }
    header.sticky .header-left nav.active {
        top: 79px !important;
        z-index: 9;
        background: #1e2022;
    }
    .sm {
        display: none;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -300%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #1e2022;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }
    header .header-left nav.active {
        top: 70px;
        z-index: 9;
    }
    header .header-left nav ul {
        display: block;
    }
    #azienda {
        background-color: #1e2022;
        display: block;
        max-height: 396vh;
    }
    .sectitle {
        padding-bottom: 6% !important;
    }
    .sectitle,
    h1 {
        font-family: "Poppins";
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: 100;
        padding-top: 20px;
    }

    #logo_brand {
        width: 38%;
        pointer-events: none;
    }
    .cstext {
        display: block;
        font-family: "Poppins";
        margin-top: 69px;
        text-align: center;
        margin-left: 0;
    }
    .cstext img {
        height: auto;
        width: 79%;
        margin-left: 0;
        margin-top: 20%;
    }
    .cstext p {
        font-family: "Poppins";
        font-size: 17px;
        color: white;
        text-align: justify;
        margin-left: 0;
        margin-right: 0px;
        padding-right: 0;
    }
    #smp ul {
        display: grid;
        place-content: center;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .smf {
        height: 85px;
    }
    #smfi {
        height: 78px;
    }
    #bckimage {
        background-image: url("../img/new_fond.jpeg");
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background-position-x: center;
    }
    #gallery #gallery-container #gallery-controls {
        display: flex;
        width: 100%;
        justify-content: center;
        z-index: 4;
        position: absolute;
        right: 0;
        bottom: 1em;
        left: 0;
        text-align: center;
    }
    #gallery #gallery-container #gallery-content .gallery__item img {
        display: block;
        width: 100%;
        height: 98%;
        object-fit: contain;
        background-color: #1e2022;
    }
    .arrow {
        text-align: center;
        z-index: 3;
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 50%;
        text-decoration: none;
        color: black;
        opacity: 0.5;
        transition: opacity 200ms ease;
        display: none;
    }
    #contatti {
        background-color: #1e2022 !important;
        background-image: none;
        height: 150vh;
    }


    #chisono img {
    height: auto;
    width: 79%;
    margin-top: 7%;
    margin-bottom: 9%;
}
}
